body{
    background: url(images/pxfuel\ \(1\).jpg) no-repeat;
    background-size: cover;
    color: #bb9fbb;
    font-family: "Heebo",sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    line-height: 0.8;
    font-style: italic;
    text-align: center;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29.5%;
}


body h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body h3 {
    flex: 1;
    text-align: right;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}
body a {
    flex: 1;
    text-align: right;
    color: #bb9fbb;
}

p {
    text-align: center;
    line-height: 1.1;
}

h1 {
    text-align: center;
    
}
h2 {
    text-align: center;
    color: rgba(202, 196, 103, 0.904);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: rgb(18, 145, 56);
    text-align: center;
}
a {
    text-align: center;
}
